In [1]:
import pandas as pd
import csv
import os
from datetime import datetime

In [2]:

current_dir = os.getcwd()

# Files to load and output
file_to_load = os.path.join(current_dir,'data.csv')  # Input file path

row_list=[]
row_data = []
with open(file_to_load) as bitcoin_data:
    reader = csv.reader(bitcoin_data, delimiter=';')
    # Skip the header row
    header = next(reader)
    header = header[0:11]
    # Track the total and net change

    # Process each row of data
    for row in reader:
        row_list = row[0].split(';')
        for i, value in enumerate(row_list):
            if i < 12:
                if 3 < i < 11: 
                    row_list[i] = float(value.replace('"', ''))
                    #print
                    #print(row_list[i],'\n')
                else:
                    row_list[i] = datetime.strptime(value.replace('"', ''), "%Y-%m-%dT%H:%M:%S.%fZ")
                    #print(i)
                    #print(row_list[i],'\n')
        row_data.append(row_list[0:11])

In [3]:
df = pd.DataFrame(columns = header, data = row_data)
df.head()

,﻿timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap
0,2025-01-15,2025-01-15 23:59:59.999,2025-01-15 20:22:00,2025-01-15 00:05:00,2781.0,96534.045969,100697.234363,96501.644393,100504.493441,5.780592e+10,1.991112e+12
1,2025-01-14,2025-01-14 23:59:59.999,2025-01-14 09:54:00,2025-01-14 00:46:00,2781.0,94519.007141,97352.664748,94322.154504,96534.044215,5.376968e+10,1.912474e+12
2,2025-01-13,2025-01-13 23:59:59.999,2025-01-13 00:38:00,2025-01-13 14:37:00,2781.0,94488.892174,95837.000226,89260.100189,94516.525627,7.297900e+10,1.872375e+12
3,2025-01-12,2025-01-12 23:59:59.999,2025-01-12 15:23:00,2025-01-12 09:50:00,2781.0,94565.725832,95367.536299,93712.511672,94488.441062,2.088513e+10,1.871766e+12
4,2025-01-11,2025-01-11 23:59:59.999,2025-01-11 21:56:00,2025-01-11 04:38:00,2781.0,94700.838053,94977.687665,93840.043524,94566.593675,1.886089e+10,1.873238e+12

In [4]:
df.rename(columns = {'ï»¿timeOpen': 'timeOpen'}, inplace=True)

In [5]:
df.head()

,﻿timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap
0,2025-01-15,2025-01-15 23:59:59.999,2025-01-15 20:22:00,2025-01-15 00:05:00,2781.0,96534.045969,100697.234363,96501.644393,100504.493441,5.780592e+10,1.991112e+12
1,2025-01-14,2025-01-14 23:59:59.999,2025-01-14 09:54:00,2025-01-14 00:46:00,2781.0,94519.007141,97352.664748,94322.154504,96534.044215,5.376968e+10,1.912474e+12
2,2025-01-13,2025-01-13 23:59:59.999,2025-01-13 00:38:00,2025-01-13 14:37:00,2781.0,94488.892174,95837.000226,89260.100189,94516.525627,7.297900e+10,1.872375e+12
3,2025-01-12,2025-01-12 23:59:59.999,2025-01-12 15:23:00,2025-01-12 09:50:00,2781.0,94565.725832,95367.536299,93712.511672,94488.441062,2.088513e+10,1.871766e+12
4,2025-01-11,2025-01-11 23:59:59.999,2025-01-11 21:56:00,2025-01-11 04:38:00,2781.0,94700.838053,94977.687665,93840.043524,94566.593675,1.886089e+10,1.873238e+12

In [7]:
df.to_csv('cleaned_data.csv',index=False)